<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charaset="utf-8"> 
    <title>Typing Vocabularies</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
      <p id="target">double click to start</p>
      <p class="info">
        Letter count: <span id="score">0</span>,
        Miss count: <span id="miss">0</span>
        Time Left: <span id="timer">0.00</span>
      </p>
    </main>

    <div id="app" class="container">
      <button @click="purge">Purge</button>
      <h1>
        My Vocabularies<span class="remains">({{ remaining.length }}/{{ todos.length}})</span>
      </h1>
      <ul>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span :class= "{done: todo.isDone}">{{ todo.title }}</span>
          <span @click="deleteItem(index)" class="command">[x]</span>
        </li>
        <p v-show="!todos.length">Add words here!</p>
      </ul>
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem" placeholder="Type your words!">
        <input type="submit" value="Add">
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
